This notebook presents some examples of use of [the querier](https://github.com/thierrymoudiki/querier), a query language for Python pandas Data Frames.

Here, the focus is placed on function `setwhere` (like SQL's combination UPDATE SET WHERE). We start by installing the package from Github:

In [ ]:
!pip install git+https://github.com/thierrymoudiki/querier.git --upgrade

Importing the packages necessary for our demo:

In [2]:
import pandas as pd
import querier as qr

Importing the dataset necessary for our demo:

In [7]:
h = {"age": [25, 30, 18], "sex": ["M", "F", "M"]}

df = pd.DataFrame(h)

print(df)

   age sex
0   25   M
1   30   F
2   18   M

Using `qr.setwhere`:

In [9]:
df1 = qr.setwhere(df, col="age", val=30, replace=35, copy=True)
print(df1)
print(df)

   age sex
0   25   M
1   35   F
2   18   M
   age sex
0   25   M
1   30   F
2   18   M

In [10]:
df1 = qr.setwhere(df, col="age", val=30, replace=35, copy=False)
print(df1)
print(df)

   age sex
0   25   M
1   35   F
2   18   M
   age sex
0   25   M
1   35   F
2   18   M