This notebook presents some examples of use of [the querier](https://github.com/thierrymoudiki/querier), a query language for Python pandas Data Frames.

Here, the focus is placed on function `concat`. We start by installing the package from Github:

In [0]:
pip install git+https://github.com/thierrymoudiki/querier.git

Importing the packages necessary for our demo:

In [0]:
import pandas as pd
import querier as qr
import numpy as np

Importing the dataset necessary for our demo:

Using `qr.concat`:

In [0]:
np.random.rand(123)
df1 = pd.DataFrame(
    {
        "key": ["A", "B", "C", "D"],
        "value": np.random.randn(4),
    }
)
df2 = pd.DataFrame(
    {
        "key": ["B", "D", "D", "E"],
        "value": np.random.randn(4),
    }
)
df3 = pd.DataFrame(
    {
        "key1": ["A", "B", "C", "D"],
        "value1": np.random.randn(4),
    }
)
df4 = pd.DataFrame(
    {
        "key2": ["B", "D", "D", "E"],
        "value2": np.random.randn(4),
    }
)

In [6]:
df5 = qr.concat(df3, df4, axis="h")  
print(df5)

  key1     value1 key2     value2
0    A  0.0181378    B -0.0626236
1    B   0.186792    D   0.909464
2    C  0.0188725    D  -0.753083
3    D   -1.55472    E   0.110129

In [7]:
df6 = qr.concat(df1, df2, axis="v")
print(df6)

  key     value
0   A  -1.12413
1   B  0.870786
2   C   1.00773
3   D -0.764683
4   B  0.488337
5   D -0.483428
6   D  0.819588
7   E  -2.03159