This notebook presents some examples of use of [the querier](https://github.com/thierrymoudiki/querier), a query language for Python pandas Data Frames.

Here, the focus is placed on function `join`. We start by installing the package from Github:

In [0]:
pip install git+https://github.com/thierrymoudiki/querier.git

Importing the packages necessary for our demo:

In [0]:
import pandas as pd
import querier as qr
import numpy as np

Using `qr.join`:

In [37]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                            'value': np.random.randn(4)})
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                            'value': np.random.randn(4)})

print(df1)
print("\n")
print(df2)

  key     value
0   A -0.060195
1   B -1.182403
2   C  1.308920
3   D  1.310736


  key     value
0   B  0.960905
1   D -0.598692
2   D -0.630694
3   E -1.007676

In [38]:
df3 = qr.join(df1, df2, on="key", type_join="inner")
print(df3)

  key   value_x   value_y
0   B -1.182403  0.960905
1   D  1.310736 -0.598692
2   D  1.310736 -0.630694

In [39]:
df4 = qr.join(df1, df2, on="key", type_join="right")        
print(df4)

  key   value_x   value_y
0   B -1.182403  0.960905
1   D  1.310736 -0.598692
2   D  1.310736 -0.630694
3   E       NaN -1.007676

In [40]:
df5 = qr.join(df1, df2, on="key", type_join="left")        
print(df5)

  key   value_x   value_y
0   A -0.060195       NaN
1   B -1.182403  0.960905
2   C  1.308920       NaN
3   D  1.310736 -0.598692
4   D  1.310736 -0.630694

In [41]:
df6 = qr.join(df1, df2, on="key", type_join="outer") 
print(df6)

  key   value_x   value_y
0   A -0.060195       NaN
1   B -1.182403  0.960905
2   C  1.308920       NaN
3   D  1.310736 -0.598692
4   D  1.310736 -0.630694
5   E       NaN -1.007676