This notebook presents some examples of use of [the querier](https://github.com/thierrymoudiki/querier), a query language for Python pandas Data Frames.

Here, the focus is placed on function `request`. We start by installing the package from Github:

In [20]:
pip install git+https://github.com/thierrymoudiki/querier.git

Collecting git+https://github.com/thierrymoudiki/querier.git
  Cloning https://github.com/thierrymoudiki/querier.git to /tmp/pip-req-build-jdt9vpm3
  Running command git clone -q https://github.com/thierrymoudiki/querier.git /tmp/pip-req-build-jdt9vpm3
Requirement already satisfied (use --upgrade to upgrade): querier==0.1.0 from git+https://github.com/thierrymoudiki/querier.git in /usr/local/lib/python3.6/dist-packages
Building wheels for collected packages: querier
  Building wheel for querier (setup.py) ... done
  Created wheel for querier: filename=querier-0.1.0-py2.py3-none-any.whl size=17235 sha256=3d0e88aa47323e8ff47198c78b0399819df57dc7183d34ba1dda5a0087cbe9a0
  Stored in directory: /tmp/pip-ephem-wheel-cache-va7jyf5_/wheels/72/51/12/482886b6a3d8ac3c1b68990c0d230359d60da240cc74e2ab7c
Successfully built querier

Importing the packages necessary for our demo:

In [0]:
import pandas as pd
import querier as qr
import numpy as np

Importing the dataset necessary for our demo:

In [0]:
url = ('https://raw.github.com/pandas-dev'
   '/pandas/master/pandas/tests/data/tips.csv')
df = pd.read_csv(url)

Using `qr.request`:

In [23]:
df1 = qr.request(df, "SELECT tip, smoker, day FROM df WHERE tip > 2")        
print(df1.head())

    tip smoker  day
0  3.50     No  Sun
1  3.31     No  Sun
2  3.61     No  Sun
3  4.71     No  Sun
4  3.12     No  Sun

In [24]:
df2 = qr.request(df, "SELECT tip, smoker, day, size FROM df WHERE (tip > 2) and (size > 4)")        
print(df2)

    tip smoker   day  size
0  4.20     No  Thur     6
1  6.70     No  Thur     6
2  5.00     No  Thur     5
3  5.00     No  Thur     6
4  5.14     No   Sun     5
5  5.00     No   Sun     6
6  5.00     No   Sun     5
7  3.00    Yes   Sat     5

In [25]:
df3 = qr.request(df, "SELECT tip, smoker, day, size FROM df WHERE (tip > 2) and (size > 4) and (day not like 'Thur')")        
print(df3)

    tip smoker  day  size
0  5.14     No  Sun     5
1  5.00     No  Sun     6
2  5.00     No  Sun     5
3  3.00    Yes  Sat     5

In [26]:
df4 = qr.request(df, "SELECT AVG(tip) as avg_tip, size, smoker FROM df WHERE tip > 2 GROUP BY size")        
print(df4)

    avg_tip  size smoker
0  3.180430     2     No
1  3.695312     3     No
2  4.394242     4     No
3  4.535000     5    Yes
4  5.225000     6     No

In [27]:
df5 = qr.request(df, "SELECT avg(tip) as avg_tip, AVG(size) as avg_size, smoker FROM df WHERE tip > 2 GROUP BY size, tip")        
print(df5.head())

   avg_tip  avg_size smoker
0     2.01       2.0    Yes
1     2.02       2.0    Yes
2     2.03       2.0    Yes
3     2.09       2.0    Yes
4     2.20       2.0    Yes

In [29]:
df5 = qr.request(df, "SELECT avg(tip) as avg_tip, sex, time FROM df GROUP BY sex, time")        
print(df5)

    avg_tip     sex    time
0  3.002115  Female  Dinner
1  2.582857  Female   Lunch
2  3.144839    Male  Dinner
3  2.882121    Male   Lunch