This notebook presents some examples of use of [the querier](https://github.com/thierrymoudiki/querier), a query language for Python pandas Data Frames.

Here, the focus is placed on function `filtr`. We start by installing the package from Github:

In [0]:
pip install git+https://github.com/thierrymoudiki/querier.git

Importing the packages necessary for our demo:

In [0]:
import pandas as pd
import querier as qr

Importing the dataset necessary for our demo:

In [0]:
url = ('https://raw.github.com/pandas-dev'
   '/pandas/master/pandas/tests/data/tips.csv')
df = pd.read_csv(url)

Using `qr.filtr`:

In [4]:
df1 = qr.filtr(df, 'tip > 5')        
print(df1)

     total_bill    tip     sex smoker   day    time  size
23        39.42   7.58    Male     No   Sat  Dinner     4
44        30.40   5.60    Male     No   Sun  Dinner     4
47        32.40   6.00    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
88        24.71   5.85    Male     No  Thur   Lunch     2
116       29.93   5.07    Male     No   Sun  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
170       50.81  10.00    Male    Yes   Sat  Dinner     3
172        7.25   5.15    Male    Yes   Sun  Dinner     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
183       23.17   6.50    Male    Yes   Sun  Dinner     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3

In [5]:
df2 = qr.filtr(df, '(tip > 5) & (size==2)')        
print(df2)

     total_bill   tip   sex smoker   day    time  size
88        24.71  5.85  Male     No  Thur   Lunch     2
172        7.25  5.15  Male    Yes   Sun  Dinner     2
181       23.33  5.65  Male    Yes   Sun  Dinner     2

In [10]:
df3 = qr.filtr(df, '(tip < 2)')        
print(df3.head())

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
8        15.04  1.96    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
12       15.42  1.57    Male     No  Sun  Dinner     2

In [11]:
df4 = qr.filtr(df, '(tip > 5) & (sex == "Male")')        
print(df4)

     total_bill    tip   sex smoker   day    time  size
23        39.42   7.58  Male     No   Sat  Dinner     4
44        30.40   5.60  Male     No   Sun  Dinner     4
47        32.40   6.00  Male     No   Sun  Dinner     4
59        48.27   6.73  Male     No   Sat  Dinner     4
88        24.71   5.85  Male     No  Thur   Lunch     2
116       29.93   5.07  Male     No   Sun  Dinner     4
141       34.30   6.70  Male     No  Thur   Lunch     6
170       50.81  10.00  Male    Yes   Sat  Dinner     3
172        7.25   5.15  Male    Yes   Sun  Dinner     2
181       23.33   5.65  Male    Yes   Sun  Dinner     2
183       23.17   6.50  Male    Yes   Sun  Dinner     4
211       25.89   5.16  Male    Yes   Sat  Dinner     4
212       48.33   9.00  Male     No   Sat  Dinner     4
239       29.03   5.92  Male     No   Sat  Dinner     3

In [12]:
df5 = qr.filtr(df, '(tip > 5) & (sex == "Male") & (smoker == "Yes")') 
print(df5)

     total_bill    tip   sex smoker  day    time  size
170       50.81  10.00  Male    Yes  Sat  Dinner     3
172        7.25   5.15  Male    Yes  Sun  Dinner     2
181       23.33   5.65  Male    Yes  Sun  Dinner     2
183       23.17   6.50  Male    Yes  Sun  Dinner     4
211       25.89   5.16  Male    Yes  Sat  Dinner     4