This notebook presents some examples of use of [the querier](https://github.com/thierrymoudiki/querier), a query language for Python pandas Data Frames.

Here, the focus is placed on function `update`. We start by installing the package from Github:

In [0]:
pip install git+https://github.com/thierrymoudiki/querier.git

Importing the packages necessary for our demo:

In [0]:
import pandas as pd
import querier as qr
import numpy as np

Importing the dataset necessary for our demo:

In [3]:
url = ('https://raw.github.com/pandas-dev'
   '/pandas/master/pandas/tests/data/tips.csv')
df = pd.read_csv(url)
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Using `qr.update
`:

In [4]:
df1 = qr.update(df, "tip = 2*tip")  
print(df1.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  2.02  Female     No  Sun  Dinner     2
1       10.34  3.32    Male     No  Sun  Dinner     3
2       21.01  7.00    Male     No  Sun  Dinner     3
3       23.68  6.62    Male     No  Sun  Dinner     2
4       24.59  7.22  Female     No  Sun  Dinner     4

In [5]:
df2 = qr.update(df, "new_tip = 3*tip")  
print(df2.head())

   total_bill   tip     sex smoker  day    time  size  new_tip
0       16.99  2.02  Female     No  Sun  Dinner     2     6.06
1       10.34  3.32    Male     No  Sun  Dinner     3     9.96
2       21.01  7.00    Male     No  Sun  Dinner     3    21.00
3       23.68  6.62    Male     No  Sun  Dinner     2    19.86
4       24.59  7.22  Female     No  Sun  Dinner     4    21.66

In [6]:
df3 = qr.update(df, "size = 2+size")  
print(df3.head())

   total_bill   tip     sex smoker  day    time  size  new_tip
0       16.99  2.02  Female     No  Sun  Dinner     4     6.06
1       10.34  3.32    Male     No  Sun  Dinner     5     9.96
2       21.01  7.00    Male     No  Sun  Dinner     5    21.00
3       23.68  6.62    Male     No  Sun  Dinner     4    19.86
4       24.59  7.22  Female     No  Sun  Dinner     6    21.66

In [7]:
df4 = qr.update(df, "new_size = 3+size")  
print(df4.head())

   total_bill   tip     sex smoker  day    time  size  new_tip  new_size
0       16.99  2.02  Female     No  Sun  Dinner     4     6.06         7
1       10.34  3.32    Male     No  Sun  Dinner     5     9.96         8
2       21.01  7.00    Male     No  Sun  Dinner     5    21.00         8
3       23.68  6.62    Male     No  Sun  Dinner     4    19.86         7
4       24.59  7.22  Female     No  Sun  Dinner     6    21.66         9

In [8]:
df5 = qr.update(df, "tip = tip-1")  
print(df5.head())

   total_bill   tip     sex smoker  day    time  size  new_tip  new_size
0       16.99  1.02  Female     No  Sun  Dinner     4     6.06         7
1       10.34  2.32    Male     No  Sun  Dinner     5     9.96         8
2       21.01  6.00    Male     No  Sun  Dinner     5    21.00         8
3       23.68  5.62    Male     No  Sun  Dinner     4    19.86         7
4       24.59  6.22  Female     No  Sun  Dinner     6    21.66         9

In [9]:
df6 = qr.update(df, "new_tip = tip+3") 
print(df6.head())

   total_bill   tip     sex smoker  day    time  size  new_tip  new_size
0       16.99  1.02  Female     No  Sun  Dinner     4     4.02         7
1       10.34  2.32    Male     No  Sun  Dinner     5     5.32         8
2       21.01  6.00    Male     No  Sun  Dinner     5     9.00         8
3       23.68  5.62    Male     No  Sun  Dinner     4     8.62         7
4       24.59  6.22  Female     No  Sun  Dinner     6     9.22         9