This notebook presents some examples of use of [the querier](https://github.com/thierrymoudiki/querier), a query language for Python pandas Data Frames.

Here, the focus is placed on function `select`. We start by installing the package from Github:

In [117]:
!pip install git+https://github.com/thierrymoudiki/querier.git

Collecting git+https://github.com/thierrymoudiki/querier.git
  Cloning https://github.com/thierrymoudiki/querier.git to /tmp/pip-req-build-sv48hvzq
  Running command git clone -q https://github.com/thierrymoudiki/querier.git /tmp/pip-req-build-sv48hvzq
Requirement already satisfied (use --upgrade to upgrade): querier==0.1.0 from git+https://github.com/thierrymoudiki/querier.git in /usr/local/lib/python3.6/dist-packages
Building wheels for collected packages: querier
  Building wheel for querier (setup.py) ... done
  Created wheel for querier: filename=querier-0.1.0-py2.py3-none-any.whl size=34998 sha256=85c7bbfbec4f402d9033540dc747ebcac624c2b6fe51cabbc0375dd74ecb99f2
  Stored in directory: /tmp/pip-ephem-wheel-cache-hwi1rcsu/wheels/72/51/12/482886b6a3d8ac3c1b68990c0d230359d60da240cc74e2ab7c
Successfully built querier

Importing the packages necessary for our demo:

In [0]:
import pandas as pd
import querier as qr

Importing the dataset necessary for our demo:

In [0]:
url = ('https://raw.github.com/pandas-dev'
   '/pandas/master/pandas/tests/data/tips.csv')
df = pd.read_csv(url)

Using `qr.select`:

In [120]:
df1 = qr.select(df, 'tip, sex, smoker')        
print(df1.head())

    tip     sex smoker
0  1.01  Female     No
1  1.66    Male     No
2  3.50    Male     No
3  3.31    Male     No
4  3.61  Female     No

In [121]:
df2 = qr.select(df, 'tip, day, time', limit=4)        
print(df2)

    tip  day    time
0  1.01  Sun  Dinner
1  1.66  Sun  Dinner
2  3.50  Sun  Dinner
3  3.31  Sun  Dinner

In [122]:
df3 = qr.select(df, 'smoker, day, total_bill', limit=5, random=True)        
print(df3)

    smoker  day  total_bill
209    Yes  Sat       12.76
185     No  Sun       20.69
151     No  Sun       13.13
181    Yes  Sun       23.33
98     Yes  Fri       21.01

In [123]:
df4 = qr.select(df, '*', limit=5)        
print(df4)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [124]:
df5 = qr.select(df, '*', limit=5, random=True) 
print(df5)

     total_bill   tip     sex smoker   day    time  size
109       14.31  4.00  Female    Yes   Sat  Dinner     2
126        8.52  1.48    Male     No  Thur   Lunch     2
66        16.45  2.47  Female     No   Sat  Dinner     2
220       12.16  2.20    Male    Yes   Fri   Lunch     2
98        21.01  3.00    Male    Yes   Fri  Dinner     2

In [0]:
df6 = qr.select(df, 'tip, sex, smoker', order_by="tip, sex") 
print(df6)